<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Add New Product</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"/>
</head>
<body>
    <div align="center">
        <h2>Register New Product</h2>
        <form action="#" th:action="@{/save}" th:object="${product}" method="post">
            <table>
                <tr>
                    <td>Product Name:</td>
                    <td><input type="text" placeholder="Product Name" th:field="*{name}"/></td>
                </tr>
                <tr>
                    <td>Quantity:</td>
                    <td><input type="number" th:field="*{quantity}"/></td>
                </tr>
                <tr>
                    <td>Price:</td>
                    <td><input type="number" th:field="*{price}"/></td>
                </tr>
                <tr>
                    <td><button type="submit">Register</button></td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>